<h1>Projects</h1>
<%= link_to 'New Project', new_project_path() %>
<% @projects.each do |project| %>
<div>
  <h2><%= project.title %></h2>
  <img src'<%= project.image %>' alt="Project Image">
  <p>By <%= project.author %></p>
  <a href="http://<%= project.link %>" target="_blank"><%= project.link %></a>
</div>
<% end %>
